.column1, .column2 {
  height: 80vh;
  background-color: white;
}

.column1 {
  margin-left: -20px;
  width: 64px;
  margin-right: 10px;
  background-color: transparent;

  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  padding-top: 20px;

}

.like {
  width: 100%;
  height: 61px !important;
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 8px;
  color: rgb(54, 61, 68);
  border-radius: 5px;
}

.like:hover {
  background: #e2e4e5;
}

.like span {
  color: rgb(77, 87, 96);
  margin-top: 5px;
  font-size: 14px;
}

.core {
  font-size: 22px !important;
  color: rgb(54, 61, 68) !important;
}

.column2 {
  width: 606px;
  padding: 0;
}

.column2 img {
  width: 100%;
  height: 338px;
  border-radius: 5px;
}

.description {
  padding: 32px 64px 0 64px;
  background: white;
}

.description h1 {
  margin-bottom: 16px;
  color :rgb(8, 9, 10);
  font-size: 48px;
  font-weight: 800;
}

.description div {
  color: rgb(100, 112, 125);
  display: flex;
  align-items: center;
}

.description a {
  /* margin-right: 16px; */
  font-size: 16px;
  color: rgb(32, 36, 40);
  align-items: center;
  text-align: center;
}
/* .description span {
  padding: 8px;
  align-items: center;
} */

.description time {
  color: rgb(100, 112, 125);
  font-size: 14px;
  padding: 8px;
}

.content {
  width: 100%;
  padding: 32px 64px;
  background: white;
}

.column3 {
 border-radius: 5px; 
}

.creator-profile {
  background-color: rgb(249, 250, 250);
  border-bottom: 1px solid #c5c5c5;
  border-radius: 5px;
}

.black {
  background: black;
  width: 100%;
  height: 30px;
  border-radius: 5px 5px 0 0;
}

.creator-profile a:hover {
  color: rgb(50, 62, 190);
  text-decoration: none;
}

.img-profile {
  border-radius: 100%;
  width: 48px;
  height: 48px;
  margin-left: 20px;
  border-bottom: 1px solid #c5c5c5;
}

.img-profile img {
  border-radius: 100%;
  width: 48px;
  height: 48px;
  margin-top: -15px;
  border-bottom: 1px solid #c5c5c5;
}

.name-creator {
  margin-left: 5px;
  color: rgb(32, 36, 40);
  font-size: 18px;
  font-weight: 700;
}

.name-creator:hover {
  color: rgb(50, 62, 190);
}

.biography {
  padding: 16px;
  color: rgb(77, 87, 96);
  font-size: 16px;
}

.follow {
  padding: 16px;
  padding-top: 0;
}

.follow button {
  width: 100%;
}

.user-details {
  padding: 16px;
  padding-top: 0;
  color: rgb(32, 36, 40);
  font-size: 16px;
}

.user-details ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.user-details ul li {
  color: rgb(32, 36, 40);
  font-size: 16px;
}

.user-details ul li .key {
  font-size: 12px;
  color: rgb(100, 112, 125);
  text-transform: uppercase;
  font-weight: 700;
}

.user-details ul li .value {
  color: rgb(32, 36, 40);
  font-size: 16px;
  margin-bottom: 15px;
}

.last {
  margin-bottom: 0 !important;
}
