main {
  margin: 0 !important;
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.marrom {
  width: 100%;
  height: 120px;
  background: #4d4d4d;
}

.profile {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  margin-top: -50px;
  background: white;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05); */
  /* box-shadow: 0 0 0 1px rgba(8, 9, 10, 0.1); */

  border: 1px solid #d3d3d3;
  border-radius: 5px;
  z-index: 27;
  padding: 64px 16px 16px 16px;
}

main .profile .write-post {
  align-self: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 15px;
  margin-right: 15px;
}

.descr {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 24px;
  padding-top: 0 !important;
}

.descr h1 {
  color: rgb(8, 9, 10);
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 8px;
}

.descr p {
  font-size: 18px;
  color: rgb(32, 36, 40);
  margin-bottom: 16px;
}

.descr div {
  color: rgb(100, 112, 125);
  margin-bottom: 8px;
}

.descr div span {
  padding: 4px 12px 4px 12px;
}

.descr div .info-local i {
  font-size: 20px;
  margin-right: 8px;
}

.descr div .info-local {
  font-size: 14px;
}

.descr div .info-create {
  font-size: 14px;
}

.descr div .info-create i {
  font-size: 20px;
  margin-right: 8px;
}

.descr div .icon-twitter {
  font-size: 14px;
}

.descr div .icon-twitter i {
  font-size: 20px;
}

.status {
  width: 100%;
  height: 93px; /* 93px ou 83px ou slá */
  margin: 0 auto;
  border-top: 1px solid #eef0f1;
  padding: 12px;
  text-align: center;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-content: center;
  justify-content: center;*/
}

.status div {
  padding: 12px;
  text-align: center;
}

.status div strong {
  font-size: 85%;
  font-weight: 500;
  color: #64707d;
}

.status div p {
  margin: 0;
  color: rgb(8, 9, 10);
  font-size: 16px;
}


.sidebar {
  width: 95%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin: 0 auto;
  margin-top: 35px;
  padding-top: 16px;
  padding-bottom: 16px;
  /* line-height: 1.35em; */
}

.widget {
  padding: 0 16px 16px 16px;
  margin: 8px 0 16px 0;
  font-size: 0.85em;
  border-bottom: 1px solid #c5c5c5;
}

.widget header {
  background: transparent;
  font-size: 0.9em;
  font-weight: bold;
  padding: 8px 0;
  color: #08090a;
  border: 0;
}

.widget header h4 {
  margin: 0;
  font-size: 13.77px;
  font-weight: 700;
}

.widget-body {
  margin: 0 auto;
  padding: 20px;
}

.widget-body p {
  margin: 8px 0;
  font-weight: 400;
  font-size: 15.3px;
}

.sidebar-data {
  border-radius: 3px;
  font-weight: bold;
  margin-bottom: 32px;
  padding: 16px;
  color: rgb(100, 112, 125);
  font-size: 15.3px;
  margin-bottom: 32px;
}

.posts-user {
  margin-left: 25px; /* pode trocar se necessario */
}


