@import url(https://fonts.googleapis.com/css?family=Nunito);@charset "UTF-8";

body {
  height: 100vh;
  width: 100%;
  margin:0;
  padding:0;
  background-color: #d3d3d3;
  font-family: 'Nunito', sans-serif;
  text-align: center;
}

main {
  height: 1280px;
  width: 100%;
  background-color: #708090;
}

header {
  width: 100%;
  height: 56px;
  margin-bottom: 20px;
  background-color: #78866b;
  padding: 10px
}

.search-box {

}

#column-1 {
  background-color: red;
}
#column-2 {
  background-color: white;
}

#column-3 {
  background-color: black;
}
