@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Roboto');

body {
  margin: 0;
  padding: 0;
  background-color: #d3d3d3;
  font-family: 'Roboto', 'Nunito', sans-serif;
}

header {
  width: 100%;
  background-color: red;
  height: 56px;
}

.top-bar-container {
  display: flex;
  height: 56px;
  align-items: center;
  /* padding: 5px; */
  /* justify-content: flex-start; */
  margin-left: 40px;
  margin-right: 40px;
}

.logo {
  height: 25px;
  width: 131px;
  text-align: center;
  /* margin-left: 15px; */
  margin-left:
}

.search-box {
  width: 420px
  height: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

.top-right {
  display: flex;
  width: 260px;
  height: 56px;
  background-color: white;
  margin-left: 750px;
  align-items: center;
  padding: 4px;
}

.top-right .write-post {


}

.top-right .notifications {
  margin-left: 10px;
  color: gray;
  height: 24px;
  text-align: center;

}

.top-right .notifications span {
  font-size: 24px;
}

.top-right .menu {

}

.top-right .menu a {
  font-size: 24px;
  color: gray;
  height: 24px;
  text-align: center;
  margin-left: 10px;
}
