@import url(https://fonts.googleapis.com/css?family=Nunito);@charset "UTF-8";

body {
  margin:0;
  padding:0;
  background-color: #d3d3d3;
  font-family: 'Nunito', sans-serif;
  text-align: center;
}

.main {
  height: 1000px;
  width: 1000px;
}

#column-1 {
  background-color: red;
  float: left;
  height: 1000px;
  width: 300px;
}

#column-2 {
  background-color: white;
  height: 1000px;
  width: 754px;
  margin: 0 auto;
  float: left;
}

#column-3 {
  background-color: black;
  color: white;
  height: 1000px;
  width: 300px;
  float: right;
}
